.Submit-Button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    height:44px;
    vertical-Align:middle;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.Submit-Button:hover {
    text-shadow:0px 1px 0px #90d9fa;
    box-shadow:inset 0px 1px 0px 0px #90d9fa;
    color: #ffffff;
    background:linear-gradient(to bottom, #0482f8 5%, #50cbfc 100%);
}

.PA-Input {
    width:200px;
    height:40px;
    margin-left: 50px;
    vertical-Align:middle;
    font-size:22px;
    border:1px solid #ccc;
}

.Header-Disposition {
    width: 49%;
    display: inline-block;
}

.Header-Style {
    border-Bottom: thin lightgrey solid;
    background-Color: #EEEEEE;
    padding: 10px 5px;
}

.fpy-filter {
    width:53px;
    height:23px;
    margin-left: 25px;
    margin-right: 25px;
    vertical-Align:middle;
    font-size:22px;
    border:1px solid #ccc;
}

.fpy-header-filter {
    font:Arial;
    color: #474747;
    font-size:22px;
}